* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #111;
}

.dashboard-container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

/* Header */

.dashboard-header {
    background-color: #111;
    color: white;
    padding: 20px 25px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}

.dashboard-header h1 {
    font-size: 25px;
}

/* Logout */

#logoutBtn {
    background-color: white;
    color: #111;
    border: none;

    padding: 10px 18px;
    border-radius: 6px;

    cursor: pointer;
    font-weight: bold;
}

#logoutBtn:hover {
    background-color: #ddd;
}

/* Profile */

.profile-section {
    background-color: white;
    padding: 25px;
    border-radius: 10px;

    margin-bottom: 25px;

    border: 1px solid #ddd;
}

.profile-section h2 {
    margin-bottom: 20px;
    color: #111;
}

.profile-section p {
    margin-bottom: 12px;
}

.profile-section strong {
    display: inline-block;
    width: 100px;
}

/* Edit Profile */

#editProfileBtn {
    margin-top: 10px;

    padding: 10px 18px;

    border: none;
    border-radius: 6px;

    background-color: #111;
    color: white;

    cursor: pointer;
}

#editProfileBtn:hover {
    background-color: #333;
}

/* Courses */

.courses-section {
    background-color: white;
    padding: 25px;
    border-radius: 10px;

    border: 1px solid #ddd;
}

.courses-section h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 13px;
    text-align: left;

    border-bottom: 1px solid #ddd;
}

th {
    background-color: #111;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Responsive */

@media (max-width: 600px) {

    .dashboard-container {
        width: 95%;
        margin: 20px auto;
    }

    .dashboard-header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
}